.index-bg {
  background-color: antiquewhite;
}

.flex-row {
  display: flex;
  gap: 20px;
}

.input-border {
  border: 2px solid slategray;
  border-radius: 10px;
}

.send-data {
  @extend .input-border;
  font-size: large;
  width: 80%;
  height: 80px;
}
